<%- include('partials/head') %>
<body>

<%- include('partials/header') %>

<div class="form-container">
    <div class="page-header">
        <h1 style="margin:0;">Task Listing</h1>
        <% if(user && (user.role === 'admin' || user.role === 'manager') ) { %>
        <a href="/api/tasks/" class="add-btn">+ Add New Task</a>
        <% } %>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Due Date</th>
                    <th>Assign To</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% taskList.forEach(task => { %>
                <tr>
                    <td>
                        <div class="product">
                            <% if(task.attachments) { %>
                            <img src="/<%= task.attachments %>" alt="<%= task.title %>">
                            <% } else { %>
                                <img src="/uploads/no_image.png" alt="">
                            <% }  %>
                            <span><%= task.title %></span>
                        </div>
                    </td>
                    <td><%= task.description %></td>
                    <td><span class="tag"><%= task.priority %></span></td>
                    <td><span class="status active"><%= task.status %></span></td>
                    <td><%= new Date(task.due_date).toDateString().slice(4) %></td>                    <td><%= task.assignTo %></td>
                    <td>
                        <% if(user && (user.role === 'admin' || user.role === 'manager')) { %>
                        <a href="/api/tasks/<%= task.id %>" class="action-btn edit">Edit</a>
                        <% } %>

                        <% if(user && (user === 'admin' || user.role === 'manager')) { %>
                        <form action="/api/tasks/delete/<%=task.id %>" method="POST" style="display:inline;">
                            <button type="submit" class="action-btn delete" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
                
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
